html{
	background-color: black;
	color: white;
	text-align: center;
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right;
}
body{
	color: #555753;
	font: 75% georgia, sans-serif;
}
h1{
	text-decoration: underline;
}
p{
	padding: 0 5px;
}
