html{

	color: white;
	text-align: center;
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right;
}
body{
	color: #555753;
	font: 75% georgia, sans-serif;
}
h1, h2, h3{
	text-decoration: underline;
}
p{
	padding: 0 5px;
}
p a{
	border: 1px solid black;
	margin: 5px;
	background-color: lightgrey;
	border-radius: 1em;		
}
footer{
	position: fixed;
	bottom: 0;
	width:100%;
	color: white;
	background-color: black;
}
a {
	text-decoration: none;
}

footer{
	vertical-align: center;
	text-align:center;
}
		
		
